* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Momo Signature',  'Stack Sans Text', sans-serif;
    background-color:white;
}

img {
    width: 300px;
    height: 200px;
    object-fit: cover;
}

header {
    background-color: black;
    color: darkgreen;
    padding: 10px 0;
}

header h1 {
    text-align: center;
    padding: 15px 0;
}

ul {
    margin-top: 15px;
    margin-bottom: 5px;
    display: flex;
    /* use flex container for horizontal layout */
    justify-content: center;
    /* centers the list items horizontally */
    gap: 5rem;
    list-style: none;
    /* remove bullets */
    padding-left: 0;
    /* ensure no indent */
}

a {

    color: green;
}


a:hover {
    color: darkgreen;
}

.mission-statement {
    background-color: tan;
    color: black;
}

.mission-statement h2 {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

.mission-statement p {
    text-align: center;
    max-width: 75ch;
    margin: 0 auto;
    line-height: 1.5;
}

.training-programs {
    background-color:tan;
    padding: 100px;
}

.training-programs h2 {
    color: rgb(15, 15, 15);
    text-align: center;
    padding-bottom: 50px;
}

.training-container {
    color: black;
    display: flex;
    flex-direction: column;
}

.strength-training{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin:0 auto
}

.functional-training{
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    margin:100px auto;
    
}

.strength-training p, .functional-training p {
    max-width: 50ch;
    line-height: 1.6;
}

.bodybuilding{
    margin: 0 100px;
}

.pilates{
    margin: 0 100px;
}

.team{
    background-color: tan;
    color: black;
}

.team h2{
    text-align: center;
}
.team-container {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0px auto;
    padding: 40px
}

footer {
    background-color:black;
    color: darkgreen;
    padding: 15px;
}
